
/* .MuiPieArc-data-index-1 {
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* .my-pie-chart path.highlighted { 
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* .my-pie-chart path:nth-of-type(2) { 
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* @keyframes move-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.my-pie-chart path:nth-of-type(1) {
  fill: url(#stripes-pattern);
} */

@keyframes piechart-arc-pulse {
  0% {
    transform: scale(1);
    /* fill: yellow; */
    stroke: rgb(78, 78, 9);
    opacity: 0.6;
  }
  25% {
    transform: scale(0.9);
    /* fill: rgb(126, 126, 43); */
    stroke: rgb(10, 170, 64);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.0);
    /* fill:  rgb(102, 102, 33); */
    stroke: rgb(211, 23, 23);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.9);
    /* fill:  rgb(235, 235, 75); */
    stroke: rgb(67, 8, 134);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    /* fill:  yellow; */
    stroke: rgb(125, 84, 172);
    opacity: 0.6;
  }
}

