
/* .MuiPieArc-data-index-1 {
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* .my-pie-chart path.highlighted { 
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* .my-pie-chart path:nth-of-type(2) { 
  animation: piechart-arc-pulse 10s infinite ease-out;
} */

/* @keyframes piechart-arc-pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.0);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} */

